.border-right {
  border-right: 2px solid $white;
}

.border-left {
  border-left: 2px solid $white;
}

.border-top {
  border-top: 2px solid $white;
}

.border-bottom {
  border-bottom: 2px solid $white;
}

.gameboard {
  text-align: center;

  .box {
    height: 170px;
  }
}

.not-active {
   pointer-events: none;
   cursor: default;
}
