$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'slider-sidebar';
@import 'login';
@import 'gameboard';

html, body {
  height: 100%
}

body {
  background: $teal;
}

body, a, button {
  cursor: crosshair;
}
