@media (max-width: 767px) {
  body,
  input,
  .btn,
  .form input,
  #changePw-form input {
    font-size: 16px;
  }

  .gameboard {
    margin-top: 20px;
    .box {
      font-size: 5em;
    }
  }
}

@media (hover: none) {
  .sidebar-nav li {
    a:hover {
      background: none;
      color: white;
    }
  }
  .active {
    background: white !important;
    color: $grey !important;
  }
}
