@media (max-width: 767px) {
  body,
  input,
  .btn,
  .form input,
  #changePw-form input {
    font-size: 16px;
  }

  #changePw-form {
    margin: 0 10px;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s !important;
        -webkit-box-shadow: 0 0 0 1000px $highlight-grey inset !important;
    }
  }

  .gameboard {
    margin-top: 20px;
    .box {
      font-size: 5em;
    }
  }
}
