@media (max-width: 767px) {
  body,
  input,
  .btn,
  .form input,
  #changePw-form input {
    font-size: 16px;
  }

  .gameboard {
    margin-top: 20px;
    .box {
      font-size: 5em;
    }
  }
}

@media (hover: none) {
    a:hover { background: none;}
}
