/*Change text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-box-shadow: 0 0 0 1000px $teal inset !important;
}

/*Change text color in autofill text*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

/*Change placeholder color*/
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

/*Change background in autofill textbox*/
#changePw-form {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px $highlight-grey inset !important;
  }
  .form-control::-webkit-input-placeholder { color: #999; }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color: #999; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color: #999; }  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color: #999; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color: #999; }  /* Microsoft Edge */
}
